html {
    margin: 0 auto;
    max-width: 650px;
}

.numeric {
    width: 3em;
}

.ampm {
    width: 5em;
}

.date {
    width: 10em;
}

.button {
    width: 10em;
}

.indicator {
    opacity: 0.65;
    font-size: smaller;
}